.myDiv{
    height: 200px;
    width: 100%;
    background-color: darkgray;

}
.izquierda{
    margin-left: 0;
    width: 200px;
    height: 180px;
    background: url("img.png") -200px 0 ;
    float:left;
    list-style: none;

}
.derecha{
    width: 200px;
    height: 180px;
    background: url("img.png") 0 0 ;
    float:right;
    list-style: none;
    
}
.izquierda:hover{
    width: 200px;
    height: 180px;
    background: url("img.png") -400px 180px;
    float:left;
    list-style: none;
}
.derecha:hover{
    width: 200px;
    height: 180px;
    background: url("img.png") -400px 0 ;
    float:right;
    list-style: none;
    
}