#map {
    margin: 0 auto;
    position: absolute;
    height: 420px;
    transform: translateY(-100px);
    z-index: 1;
}

#ball {
    border-radius: 50%;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    z-index: 2;
}

#mapa {
    height: 420px;
    width: 100%;
}