 span label {
     display: block;
 }
 
 li:hover {
     background-color: #FF9;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }
 
 input:focus {
     border: 1px solid #E6B700;
 }
 
 .titulo {
     float: left;
 }